@import "monokai-sublime";
@import "normalize";
@import "octicons";
@import "fonts";

$fontFamily-mono: "ipm", "Menlo", "Courier New", monospace;

$color-black: #252525;
$color-white: #ffffff;

html {
    font-size: 62.5%;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-family: $fontFamily-mono;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
    position: relative;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

pre {
    background-color: $color-black;
    color: $color-white;
    padding: 4rem 10rem;
}

code {
    font-family: $fontFamily-mono;
    line-height: 1.85;
}

.hljs {
    background-color: transparent;
}
