@import "normalize";
@import "fonts";

$fontFamily-mono: "ipm", "Menlo", "Courier New", monospace;

$color-black: #333333;
$color-white: #ffffff;

html {
    font-size: 62.5%;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-family: $fontFamily-mono;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
    margin: 10rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

p {
    max-width: 40em;
    margin: 0 0 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1em 0;
}

.header {
    margin-bottom: 6rem;
}

.headline {
    font-weight: 400;
    font-size: 4rem;
}

.demo-holder {
    display: inline-block;
    background-color: #f5f5f5;
    color: #666666;
    padding: 2rem 3rem;
    border-radius: 5px;
    cursor: default;
    -webkit-user-select: none;
            user-select: none;
}
